{% extends "idsubmit/base.html" %}
{% block maincontent %}
<!-- Body content starts-->
<div align="left">
<center>
<table border="0" vspace="0">
<tr valign="top">
<td height="550" >
<form action="." method="post" name="adj_form">
<input type="hidden" name="submission_id" value="####">
<p>
<font face="Arial" size="4">
<strong>Check Page</strong>
</font>
</p>
<p>Your draft has been verified to meet IDNITS requirements. <a href="display_idnit.cgi?submission_id=####">(View IDNITS Results)</a></p>
<b>Meta-data errors:</b>
<ul>
<li> Invalid Version Number. (Version 08 is expected.)</li>
<li> Creation Date must be within 3 days of submission date.</li>

</ul>
<table border="0" width="650"><tr><td>
Please make sure that your Internet-Draft includes all of the required
meta-data in the proper format.
<br><br>
If your Internet-Draft *does* include all of the required meta-data in
the proper format, and if the error(s) identified above are due to the
failure of the tool to extract the meta-data correctly, then please use
the 'Adjust Meta-Data' button below, which will take you to the 'Adjust
Screen' where you can correct the improperly extracted meta-data.  You
will then be able to submit your Internet-Draft to the Secretariat for
manual posting.
<br><br>
If your Internet-Draft *does not* include all of the required meta-datain the proper format, then please cancel this submission, update your
Internet-Draft, and resubmit it.
<br><br>
NOTE: The Secretariat will NOT add any meta-data to your Internet-Draft
or edit the meta-data.  An Internet-Draft that does not include all of the required meta-data in the proper format WILL be returned to the
submitter.</td></tr></table>

<p><strong>Meta-Data from the Draft.</strong></p>
<b></b>
</font>
<table border="0" width="650" id="metadatadraft">
<tr bgcolor="#ddddff">
  <td width="110"><font face="Arial" size="2">Document:</font></td>
<td><a href="http://localhost/tempids/{{ meta_data.filename }}-{{ meta_data.revision }}.txt">{{ meta_data.filename }}</a> <a href="display_first_two_pages.cgi?submission_id=####">[View First Two Pages]</a><br></td>
</tr>
<tr bgcolor="#ffaaaa">
<td width="110"><font face="Arial" size="2">Version:</font></td>
<td>{{ meta_data.revision }} </td></font>    </tr>
<tr bgcolor="#ddddff">
<td><font face="Arial" size="2">Submission Date:</font></td>
<td>{% now "F j, Y" %}</td></font>    
</tr>
<tr bgcolor="#ddddff">
<td><font face="Arial" size="2">Title:</font></td>
<td>{{ meta_data.title }}</td></font>    </tr>
<tr bgcolor="#ddddff">
<td><font face="Arial" size="2">WG ID:</font></td><td>{{ meta_data.group }}</td></font>
</tr>
<tr bgcolor="#ddddff">
<td><font face="Arial" size="2">File Size:</font></td><td>{{ meta_data.filesize }}</td></font>
</tr>
<tr bgcolor="#ffaaaa">
<td><font face="Arial" size="2">Creation Date:</font></td>
<td>{{ meta_data.creation_date }}
</td></font>
</tr>

<tr bgcolor="#ddddff"><td colspan="2">Author(s) Information:</td></tr>
<tr bgcolor="#ddddff"><td>&nbsp; &nbsp; Author 1:</td> <td>Author Name (author email)</td></tr>
<tr bgcolor="#ddddff">
<td><font face="Arial" size="2">Pages:</font></td>
 <td>{{ meta_data.txt_page_count }}</td></font>    </tr>
    <tr bgcolor="#ddddff" valign="top">
<td><font face="Arial" size="2">Abstract:</font></td>
<td>
<pre>
{{ meta_data.abstract|escape }}
</pre>
</td>
</font>
</tr>
<tr>
<td colspan="2"><input type="submit" value="Adjust Meta-Data" name="adjust"> <font face="Arial" size="2">(Leads to manual post by the Secretariat)</font></td>
    </tr>
<input name="submission_id" type="hidden" value="2223">
</form>
</td>
</tr>
</table>
</center>
</div>
<form action="." method="get" name="aform">
<input type="hidden" name="submission_id" value="####">
<input type="hidden" name="cancel" value="1">
<input type="hidden" name="redirect" value="1">
Cancel this submission: <input type="submit" value="Cancel" onClick="return window.confirm('Do you really want to cancel this submission?');">
</form> 

  <!-- Body content ends-->


{% endblock %}
